

table th
{
    border-bottom: 1px solid black;
    text-align: center;
    width:50%;
    height:auto;
}
table td
{
    border-bottom: 2px solid black;
    text-align: center;
    width:50%;
    height:auto;
    cursor:pointer;
    
}
table tr
{
     background-color:Green; 
}

 
 
